main{
    width: 100%;
    height: 100vh;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul, li{
    list-style: none;
}
.outerlayer{
    width: 1170px;
    /* height: 70%; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    border: none;
    display: inline-flex;
    -webkit-border-radius: 10px;
    border-radius: 50px;
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: black;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: -webkit-radial-gradient(0 0, closest-side, rgba(255,255,255,1) 0, rgba(254,254,254,1) 100%);
    background: -moz-radial-gradient(0 0, closest-side, rgba(255,255,255,1) 0, rgba(254,254,254,1) 100%);
    background: radial-gradient(closest-side at 0 0, rgba(255,255,255,1) 0, rgba(254,254,254,1) 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    -webkit-box-shadow: 0 0 4px 4px rgba(197,197,197,1) inset;
    box-shadow: 0 0 4px 4px rgba(197,197,197,1) inset;
}
.innerlayer{
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    border-radius: 35px;
    -webkit-box-shadow: 0 0 20px 5px rgb(253, 253, 253);
    box-shadow: 0 0 20px 5px rgb(253, 253, 253);
}
.innerlayer > ul{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 0;
}
.innerlayer > ul > li{
    padding: 10px;
    border-radius: 10px;
    background: rgb(160, 160, 160);
    margin-bottom: 20px;
}
.innerlayer > ul > li:last-child{
    margin-bottom: 0;
}
.dots ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}
.dots ul:nth-child(even){
    position: relative;
    top: 1px;
    left: 1px;
}
.dots ul:nth-child(odd){
    position: relative;
    top: 1px;
    left: 1px;
}
.dots ul li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0.4px;
    -webkit-box-shadow: 0 0 2px 3px rgb(234, 234, 234) inset;
    box-shadow: 0 0 2px 3px rgb(234, 234, 234) inset;
}

/* red dots */
.innerlayer > ul li:nth-child(1) .dots ul:nth-child(2) li:nth-child(30),
.innerlayer > ul li:nth-child(1) .dots ul:nth-child(3) li:nth-child(20),
.innerlayer > ul li:nth-child(1) .dots ul:nth-child(3) li:nth-child(45),
.innerlayer > ul li:nth-child(1) .dots ul:nth-child(3) li:nth-child(60),
.innerlayer > ul li:nth-child(1) .dots ul:nth-child(5) li:nth-child(40),
.innerlayer > ul li:nth-child(1) .dots ul:nth-child(5) li:nth-child(50),

.innerlayer > ul li:nth-child(2) .dots ul:nth-child(5) li:nth-child(3),
.innerlayer > ul li:nth-child(2) .dots ul:nth-child(5) li:nth-child(10),
.innerlayer > ul li:nth-child(2) .dots ul:nth-child(5) li:nth-child(30),
.innerlayer > ul li:nth-child(2) .dots ul:nth-child(6) li:nth-child(14),
.innerlayer > ul li:nth-child(2) .dots ul:nth-child(6) li:nth-child(40),
.innerlayer > ul li:nth-child(2) .dots ul:nth-child(7) li:nth-child(50),

.innerlayer > ul li:nth-child(3) .dots ul:nth-child(3) li:nth-child(20),
.innerlayer > ul li:nth-child(3) .dots ul:nth-child(5) li:nth-child(10),
.innerlayer > ul li:nth-child(3) .dots ul:nth-child(5) li:nth-child(40),
.innerlayer > ul li:nth-child(3) .dots ul:nth-child(5) li:nth-child(54),
.innerlayer > ul li:nth-child(3) .dots ul:nth-child(6) li:nth-child(30),
.innerlayer > ul li:nth-child(3) .dots ul:nth-child(6) li:nth-child(48),

.innerlayer > ul li:nth-child(4) .dots ul:nth-child(4) li:nth-child(6),
.innerlayer > ul li:nth-child(4) .dots ul:nth-child(4) li:nth-child(61),
.innerlayer > ul li:nth-child(4) .dots ul:nth-child(5) li:nth-child(20),
.innerlayer > ul li:nth-child(4) .dots ul:nth-child(5) li:nth-child(54),
.innerlayer > ul li:nth-child(4) .dots ul:nth-child(6) li:nth-child(3),
.innerlayer > ul li:nth-child(4) .dots ul:nth-child(6) li:nth-child(50),

.innerlayer > ul li:nth-child(5) .dots ul:nth-child(3) li:nth-child(20),
.innerlayer > ul li:nth-child(5) .dots ul:nth-child(4) li:nth-child(2),
.innerlayer > ul li:nth-child(5) .dots ul:nth-child(4) li:nth-child(40),
.innerlayer > ul li:nth-child(5) .dots ul:nth-child(4) li:nth-child(55),
.innerlayer > ul li:nth-child(5) .dots ul:nth-child(5) li:nth-child(50),
.innerlayer > ul li:nth-child(5) .dots ul:nth-child(5) li:nth-child(57)
{
    animation-name: dots;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}
.innerlayer > ul li:nth-child(1) .dots ul:nth-child(3) li:nth-child(20){
    animation-delay: .2s;
}
.innerlayer > ul li:nth-child(1) .dots ul:nth-child(2) li:nth-child(30){
    animation-delay: .4s;
}
.innerlayer > ul li:nth-child(1) .dots ul:nth-child(5) li:nth-child(40){
    animation-delay: .6s;
}
.innerlayer > ul li:nth-child(1) .dots ul:nth-child(3) li:nth-child(45){
    animation-delay: 0.8s;
}
.innerlayer > ul li:nth-child(1) .dots ul:nth-child(5) li:nth-child(50){
    animation-delay: 1s;
}
.innerlayer > ul li:nth-child(1) .dots ul:nth-child(3) li:nth-child(60){
    animation-delay: 1.2s;
}
.innerlayer > ul li:nth-child(2) .dots ul:nth-child(5) li:nth-child(3){
    animation-delay: 1.4s;
}
.innerlayer > ul li:nth-child(2) .dots ul:nth-child(5) li:nth-child(10){
    animation-delay: 1.6s;
}
.innerlayer > ul li:nth-child(2) .dots ul:nth-child(5) li:nth-child(30){
    animation-delay: 2s;
}
.innerlayer > ul li:nth-child(2) .dots ul:nth-child(6) li:nth-child(14){
    animation-delay: 1.8s;
}
.innerlayer > ul li:nth-child(2) .dots ul:nth-child(6) li:nth-child(40){
    animation-delay: 2.2s;
}
.innerlayer > ul li:nth-child(2) .dots ul:nth-child(7) li:nth-child(50){
    animation-delay: 2.4s;
}

.innerlayer > ul li:nth-child(3) .dots ul:nth-child(3) li:nth-child(20){
    animation-delay: 2.8s;
}
.innerlayer > ul li:nth-child(3) .dots ul:nth-child(5) li:nth-child(10){
    animation-delay: 2.6s;
}
.innerlayer > ul li:nth-child(3) .dots ul:nth-child(5) li:nth-child(40){
    animation-delay: 3.2s;
}
.innerlayer > ul li:nth-child(3) .dots ul:nth-child(5) li:nth-child(54){
    animation-delay: 3.6s;
}
.innerlayer > ul li:nth-child(3) .dots ul:nth-child(6) li:nth-child(30){
    animation-delay: 3s;
}
.innerlayer > ul li:nth-child(3) .dots ul:nth-child(6) li:nth-child(48){
    animation-delay: 3.4s;
}

.innerlayer > ul li:nth-child(4) .dots ul:nth-child(4) li:nth-child(6){
    animation-delay: 4s;
}
.innerlayer > ul li:nth-child(4) .dots ul:nth-child(4) li:nth-child(61){
    animation-delay: 4.8s;
}
.innerlayer > ul li:nth-child(4) .dots ul:nth-child(5) li:nth-child(20){
    animation-delay: 4.2s;
}
.innerlayer > ul li:nth-child(4) .dots ul:nth-child(5) li:nth-child(54){
    animation-delay: 4.6s;
}
.innerlayer > ul li:nth-child(4) .dots ul:nth-child(6) li:nth-child(3){
    animation-delay: 3.8s;
}
.innerlayer > ul li:nth-child(4) .dots ul:nth-child(6) li:nth-child(50){
    animation-delay: 4.4s;
}

.innerlayer > ul li:nth-child(5) .dots ul:nth-child(3) li:nth-child(20){
    animation-delay: 5.2s;
}
.innerlayer > ul li:nth-child(5) .dots ul:nth-child(4) li:nth-child(2){
    animation-delay: 5s;
}
.innerlayer > ul li:nth-child(5) .dots ul:nth-child(4) li:nth-child(40){
    animation-delay: 5.4s;
}
.innerlayer > ul li:nth-child(5) .dots ul:nth-child(4) li:nth-child(55){
    animation-delay: 5.8s;
}
.innerlayer > ul li:nth-child(5) .dots ul:nth-child(5) li:nth-child(50){
    animation-delay: 5.6s;
}
.innerlayer > ul li:nth-child(5) .dots ul:nth-child(5) li:nth-child(57){
    animation-delay: 6s;
}
@keyframes dots {
    0% {
        background-color: rgb(255, 255, 255);
    }
    100% {
        background-color: rgb(225, 0, 0);
        -webkit-box-shadow: 0 0 2px 3px rgb(225, 0, 0) inset;
        box-shadow: 0 0 2px 3px rgb(225, 0, 0) inset;
    }
}